.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.primary {
  background: var(--text-primary, #000);
  color: var(--background, #fafafa);
}

.secondary {
  border-color: var(--button-secondary-border, #ebebeb);
  background: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .primary:hover {
    background: var(--button-primary-hover, #383838);
  }

  .secondary:hover {
    background: var(--button-secondary-hover, #f2f2f2);
  }
}