@import "../styles/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
}